<div class="page-container">
    <div class="wrapper">
        <div class="top">
            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
            <button (click)="file.click()" class="btn btn-primary">Upload image</button>
            <h1>Input image</h1>
            <img src="{{imageSource?.imageUrl}}" alt="">
        </div>
        <div class="result-wrapper">
            <div *ngFor="let result of imageSource?.resultList;" class="result-div">
                <span class="title">{{result.title}}</span>
                <a href="{{result.link}}" class="link">{{result.link}}</a>
            </div>
        </div>
    </div>
</div>