.container {
  height: 400px;
}

.start-p {
  max-width: 40em;
  font-family: serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
}
.swiper {
  width: 600px;
  height: 300px;
}

.page-container {
  height: calc(100% - 90px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
