<mat-grid-list cols="2" rowHeight="420px">
  <mat-grid-tile>
    <p class="start-p">
      Welcome to Project ECAI. This is a project that proposes an enhancement of
      traditional ecommerce solutions by using machine learning techniques
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <app-carousel [slides]="slides"></app-carousel>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <app-item-carousel *ngIf="favoritesLoaded == true" [products]="topTenProducts"></app-item-carousel>
  </mat-grid-tile>
</mat-grid-list>