<div class="page-container">
  <div class="options-bar">
    <form class="form-wrapper" (ngSubmit)="search()" [formGroup]="searchForm">
      <div class="input-group">
        <div class="input-group-prepend">
          <mat-icon class="small-icon" (click)="stopRecording()" *ngIf="isRecording == true">volume_up</mat-icon>
          <span class="input-group-text">
            <mat-icon class="small-icon" (click)="startRecording()" *ngIf="isRecording == false">volume_off</mat-icon>
            <mat-icon class="small-icon" (click)="search()">search</mat-icon>
          </span>
        </div>
        <input class="form-control border-end-0 border-right-0 border search-input" type="search"
          formControlName="title" placeholder="Start your search here" id="search-input" />
      </div>
    </form>
  </div>
  <div class="products-grid">
    <div *ngFor="let product of productList;">
      <app-product-card [productDetails]="product" [isFavorite]="isFavorite(product)"></app-product-card>
    </div>
  </div>
  <div class="pagination-container">
    <ul class="pagination pagination-md justify-content-center">
      <li class="page-item">
        <input type="button" class="btn btn-dark shadow-none" (click)="previous()" [disabled]="isDisabledPrev"
          value="Previous" />
      </li>
      <li class="page-item">
        <input id="button1" type="button" class="btn btn-light shadow-none" [value]="pageNumbers[0]"
          *ngIf="pageNumbers[0] != undefined" [ngClass]="{'active': isActive[0]}"
          (click)="paginationButtonClicked(1)" />
      </li>
      <li class="page-item">
        <input id="button2" type="button" class="btn btn-light shadow-none" [value]="pageNumbers[1]"
          *ngIf="pageNumbers[1] != undefined" [ngClass]="{'active': isActive[1]}"
          (click)="paginationButtonClicked(2)" />
      </li>
      <li class="page-item">
        <input id="button3" type="button" class="btn btn-light shadow-none" [value]="pageNumbers[2]"
          *ngIf="pageNumbers[2] != undefined" [ngClass]="{'active': isActive[2]}"
          (click)="paginationButtonClicked(3)" />
      </li>
      <li class="page-item">
        <input type="button" class="btn btn-dark shadow-none" (click)="next()" value="Next"
          [disabled]="isDisabledNext" />
      </li>
    </ul>
  </div>
</div>