<div class="card-wrapper">
    <img class="product-img" src={{productDetails.imageUrlL}} alt="prod-image">
    <div class="information-wrapper">
        <div class="primary">
            <h2 class="title">{{productDetails.title}}</h2>
            <div class="star-ratings">
                <span *ngFor="let fill of fillStarArray; let i = index"
                    [ngClass]="{'bi bi-star-fill': fill, 'bi bi-star': !fill}"></span>
                <span class="rating-avg">{{productDetails.averageRating}}</span>
            </div>
        </div>
        <div class="secondary">
            <p class="author">{{productDetails.author}}</p>
            <p class="publisher">{{productDetails.publisher}}</p>
            <p class="publicationYear">{{productDetails.publicationYear}}</p>
            <p class="price">$53.55</p>
            <button class="btn btn-light" (click)="addToCart()">Add to cart</button>
        </div>
    </div>
</div>