<div class="card-wrapper">
    <div class="image-wrapper">
        <img class="product-img" src={{productDetails.imageUrlM}} alt="prod-image">
    </div>
    <div class="information-wrapper">
        <div class="primary">
            <h2 class="title">{{productDetails.title}}</h2>
            <div class="star-ratings">
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star"></span>
                <span class="bi bi-star"></span>
            </div>
        </div>
        <div class="secondary">
            <p class="author">{{productDetails.author}}</p>
            <p class="publisher">{{productDetails.publisher}}</p>
            <p class="publicationYear">{{productDetails.publicationYear}}</p>
            <p class="price">$53.55</p>
            <button class="btn btn-light">Add to cart</button>
        </div>
    </div>
</div>