<div class="card-wrapper">
    <div class="left-side">
        <img src="{{productDetails.imageUrlS}}" alt="">
        <div class="description">
            <div class="details-wrapper">
                <span class="title">{{productDetails.title}}</span>
                <span class="isbn">{{productDetails.isbn}}</span>
            </div>
            <div class="count-wrapper">
                <button class="oper-button" (click)="subtract()">-</button>
                <span class="count">{{productDetails.count}}</span>
                <button class="oper-button" (click)="add()">+</button>
            </div>
        </div>
    </div>
    <div class="right-side">
        <span>{{productDetails.count}} x {{productDetails.price}}$</span>
    </div>
</div>
<hr class="border">