.heart-icon {
  color: rgba(243, 45, 45, 0.781);
}

@media (min-width: 800px) and (max-width: 1200px) {
  .h2 {
    font-size: 20px !important;
  }
  .search-input {
    width: 20em !important;
  }
}
