.search-button {
  margin-left: -50px !important;
  height: 2.2em;
}
.search-input {
  width: 40em !important;
}
.search-input:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.heart-icon {
  color: rgba(243, 45, 45, 0.781);
}

@media (min-width: 800px) and (max-width: 1200px) {
  .h2 {
    font-size: 20px !important;
  }
  .search-input {
    width: 20em !important;
  }
}
