.card-img-top {
  height: 200px;
  width: 150px;
  align-self: center;
}
.card {
  height: 100%;
}
.card-body {
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-bottom {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping-cart {
  background-color: transparent;
  border: none;
}

.bi-cart:hover {
  color: grey;
}
.heart-icon {
  position: absolute;
  background-color: white;
  width: 22px;
  margin: 10px;
  border-radius: 10px;
}

.card-price {
  margin: 0;
}

.bi-heart-fill {
  color: rgb(255, 0, 0);
}
.rating-avg {
  padding-left: 5px;
}

.title-wrapper {
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-height: 2.6em;
}
