<div class="card">
  <div class="heart-icon">
    <i (click)="handleFavoriteClick()" [ngClass]="!isFavorite ? 'bi bi-heart h5' : 'bi bi-heart-fill h5'"></i>
  </div>
  <img class="card-img-top" src="{{productDetails.imageUrlL}}" alt="Card image cap" />
  <div class="card-body">
    <div class="title-wrapper">
      <h5 class="card-title">{{ productDetails.title }}</h5>
    </div>
    <h4 class="card-price">64$</h4>
    <div class="card-bottom">
      <div class="star-ratings" (mouseleave)="defaultStars()">
        <span *ngFor="let fill of fillStarArray; let i = index"
          [ngClass]="{'bi bi-star-fill': fill, 'bi bi-star': !fill}" (mouseenter)="hanldeStarHover(i)"
          (mouseleave)="hanldeStarLeave(i)" (click)="submitStarReview()"></span>
        <span class="rating-avg">{{productDetails.averageRating}}</span>
      </div>
      <a class="shopping-cart" [routerLink]="['/product', productDetails.isbn]">
        <i class="bi bi-cart h2"></i>
      </a>
    </div>
  </div>
</div>