<div class="page-container">
  <div class="register-form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="registerForm.controls.email.errors?.['required']">{{
          "You must enter a valid email address"
        }}</mat-error>
        <mat-error *ngIf="registerForm.controls.email.errors?.['email']">{{
          "Enter a valid email address"
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your Username</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="registerForm.controls.user.errors?.['required']">{{
          "You must enter an username"
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          class="borderless-button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.controls.email.errors?.['required']">{{
          "You must enter a password"
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="buttons-div">
      <button mat-raised-button type="submit" class="submit-btn">
        Register
      </button>
      <button mat-raised-button (click)="clickBack()">Back</button>
    </div>
  </div>
</div>
